.Rproj.user
.vscode
.DS_Store
.Rhistory

*.so
*.o
*.rds
*.tmp
*.gch
*.pch
*.dll

inst/doc
inst/enumpart/enumpart
Meta
doc
docs/articles/*_cache/*
vignettes/*_cache/*
src-i386/
inst/enumpart/enumpart.exe
redist/tests/testthat/_snaps
/doc/
/Meta/
