*.so
*.o
*.rds
*.tmp
*.gch
*.pch
/redist/R/RcppExports.R
/redist/src/RcppExports.cpp
.DS_Store
.Rhistory
inst/doc
inst/enumpart/enumpart
redist/tests/testthat/_snaps
doc
docs/articles/*_cache/*
vignettes/*_cache/*
Meta
.Rproj.user
src/redist.dll
inst/enumpart/enumpart.exe
src-i386/
