## Declare library
useDynLib(redist)

## Export statements
export(redist.mcmc)
export(redist.mcmc.mpi)
export(redist.combine)
export(redist.combine.mpi)
export(redist.segcalc)
export(redist.diagplot)
export(redist.ipw)
export(redist.rsg)
export(redist.enumerate)
export(redist.findparams)

## Import statements
importFrom(Rcpp, evalCpp)

importFrom(spdep, poly2nb)

importFrom(sp, coordinates)

importFrom(coda, mcmc)
importFrom(coda, mcmc.list)
importFrom(coda, traceplot)
importFrom(coda, autocorr.plot)
importFrom(coda, densplot)
importFrom(coda, cumuplot)
importFrom(coda, gelman.plot)

importFrom(parallel, makeCluster)
importFrom(parallel, stopCluster)

importFrom(doParallel, registerDoParallel)

importFrom(foreach, foreach)
importFrom(foreach, "%dopar%")

importFrom("grDevices", "dev.off", "pdf")
importFrom("stats", "median", "runif")

## Rcpp
#exportPattern("^[[:alpha:]]+")
